.icons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.icons p {
  font-size: 20px;
  padding: 5px;
}

.icons p:hover {
  background-color: rgb(53, 53, 53);
  border-radius: 20px;;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #0f0f0f;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin-left: -18px;
}

.facebook {
  color: #3333ff;
}

.twitter {
  color: #3333ff;
}

.tiktok {
  color: #ffffff;
}

.linkedin {
  color: #3333ff;
}

.github {
  color: #ffffff;
}

.instagram {
  color: #ff3636;
}

.fraseFooter h1 {
  font-size: 20px;
  font-weight: bold;
}