.containerCard {
    background-color: #0f0f0f;
    color: black;
    padding: 15px;
  }
  
  .containerCardYt {
    margin-bottom: 60px;
    background-color: #0f0f0f;
    color: black;
    padding: 15px;
    margin-top: -30px;
  }
  
  .containerCard a {
    color: white;
  }
  
  .card {
    margin: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #333;
  }
  
  .imagem img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .informacoes {
    padding: 15px;
    text-align: center;
  }
  
  .informacoes h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
  }
  
  .informacoes a {
    background-color: #005252;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px;
  }
  
  .informacoes p {
    margin-bottom: 5px;
  }
  
  .tituloalpha {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 40px;
    color: #ff0000;
    font-weight: bold;
    opacity: 0.5;
    text-decoration: underline;
  }