.container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #0f0f0f;
  padding: 30px;
}

.container h1 {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}
